@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
	font-family: 'Helvetica Now';
	font-style: normal;
	font-weight: bold;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: italic;
	font-weight: bold;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-BoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: italic;
	font-weight: bolder;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-ExtBdIta.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: italic;
	font-weight: 50;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-ExtLtIta.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: normal;
	font-weight: bolder;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-ExtraBold.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: normal;
	font-weight: 50;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-ExtraLight.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: normal;
	font-weight: 100;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: italic;
	font-weight: 100;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-LightItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: italic;
	font-weight: normal;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-MedIta.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: normal;
	font-weight: normal;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: italic;
	font-weight: normal;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-RegIta.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now';
	font-style: normal;
	font-weight: normal;
	src: url('../../../public/assets/fonts/HelveticaNowMicro-Regular.otf') format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: 'Helvetica Now', sans-serif;
}

h1 {
	font-size: 80px;
}

@media screen and (min-width: 640px) {
  h1 {
		font-size: 30px;
	}
}

@media screen and (min-width: 1000px) {
  h1 {
		font-size: 48px;
	}
}