@import 'typography';

// html {
//   overflow-y: hidden !important;
// }

// body {
//   overflow: hidden;
// }

.v-btn--outlined {
  border: 1.77px solid currentColor !important;
  border-radius: 7.436px;
}

.v-application--is-ltr .v-text-field .v-label {
  font-family: 'Montserrat', sans-serif !important;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888800;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555500;
}